body{
    background: lightgray;
    font-family: Roboto, sans-serif;
    padding-bottom: 20px;
    
}


.content{
    background-color: white;
    max-width: 1000px;
    min-height: 100%;
    margin: auto;
}

.page{
    padding: 40px;
    overflow: hidden;
    /* min-width: 250px;  */
}


/* .navbar{
    position: fixed;
} */