/* .container{
    max-width: 800px;
    margin: auto;
    padding:20px;
} */

.resume{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    min-width: 400px;
    /* max-width: 800px; */
    /* overflow-y: scroll;
    height: 450px;
    border: 1px solid black;
    padding: 10px; */
}
