
.container{
    max-width: 810px; /* equal to 3x cardSub width (width + 2*padding) */
    margin: auto;
    text-align: justify;
    
}

.cardMain{
    padding:10px; /* padding needs to equal cardSub padding */
    min-width: 230px;
}

.cardSub{
    height:350px;
    width: 250px;
    padding: 10px;
}

.cardItemsWrapper{
    display: flex;
    flex-wrap: wrap; 

    

}

