.flex{
    display: flex;
    align-items: flex-start;
}

.padding{
    padding: 5px;
}

.backgroundColour{
    background-color: black;
}

.symbolContainer{
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    
}




.symbol_0{
    background-color: black;
    width: 6px;
    height: 6px;
    vertical-align: middle;
    
    /* float: left; */
}

.symbol_1{
    background-color: black;
    width: 10px;
    height: 2px;
    vertical-align: middle;
    /* float: left; */
}



.text {
    /* overflow:auto;
    height: 1.5rem; */
    /* margin-left: 130px;
    width: 100%; */
    /* display: inline-block; */
}